html {
	font-size: 16px;
	margin-top:0;
    padding-top:0;
}

body { 
	padding-top: 115px;
}

#header {
	position: fixed;
	padding: 0;	
  	right: 0;
  	left: 0;
  	top: 0;
  	border-width: 0 0 1px;
  	//height: 120px;
  	z-index: 100;
  	background-color: #FFF;
  	margin-bottom: 0
}

#content {
	position: relative;
	left: 0;
	top: 0;
	//top:120px;
}

a {
  outline: none;
  outline: 0;
   &:focus {
     outline: none;
     outline: 0;
   }
   &:active {
     outline: none;
     outline: 0;
   }
}

/** Template header **/

#app-header {

	.menu-top-bg {
		margin-bottom: 0.5em;
	}

	.app-header-top {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-top {
		@include x-rem(font-size, 1);

	}
	
	/**Barra superior azul **/

	#nav-top{

		>li{
			
			white-space: nowrap;
			a{
				padding: 0.5em;
				white-space: nowrap;

			}
			i {
				margin-left: 0.5em;
	      		margin-right: 0.5em;
			}
			i.fa{
	      		margin-left: 0.5em;
	      		margin-right: 0.5em;
	    	}

			&.redes-sociales {
				text-align: left;
				a{
					padding-top: 0.5em;
					padding-bottom: 0.5em;
				}
			}
		}

		.dropdown-menu {
			margin-right: 1em;
			@include x-rem(font-size, 1);
			li {
				text-align: right;
				>a {
					display: block;
				}
			}
			
		}
	}

	/** Logo y menu principal **/
	#app-header-menu {

		display: block;
		height: 60px;
		max-height: 60px;
		position: relative;
  		
  		.row {
  			height: 100%;

  			&>div:first-child {
				height: 100%;
				padding-left:5px;
				padding-right: 5px;
			}
  		}

		.logo-container {
			height: 100%;
			a {
				display: block;
				height: 100%;
				background: url("../img/logo-grande.png") no-repeat center center;
				background-size: contain;
			}
		}

		.menu-principal {
			@include x-rem(margin-top, 0);
			#main-nav {
				  display: block;
				  display: -webkit-box;
				  display: -moz-box;
				  display: -ms-flexbox;
				  display: -webkit-flex;
				  display: flex;
				  justify-content: space-between;
				  position: relative;

				  >li{
				    &:hover,
				    &.activo{
				      .dropdown{
				        display: block;
				       //display: flex;
				       //justify-content: space-between;
				        li{
				          margin-bottom:0;
				          &:hover{
				            border:none;
				            background-color: $primario-azul-oscuro;
				          }
				        }
				      }
				    }
					a {
						white-space: nowrap;
					}

				  }

				  &:hover{
				    li:hover{
				      z-index: 100}
				  }
				  &.activo{
				    li:hover{
				      z-index: 50}
				  }
			}

			ul {
				li {
					a {
						padding-top: 0.75em;
						padding-bottom: 0.75em;
					}
				}
			}
		}

		.dropdown {
			text-align: center;
			border-bottom: 6px solid $alt-gris_claro;
			margin-bottom: -6px;
			#menu-principal-xs {
				display: inline-block;
				@extend %familia-titulos;
				@include x-rem(font-size, 1);
				color: $alt-negro;
				font-weight: 500;
				white-space: nowrap;
				

				&:hover{
				  	color: $alt-negro;
			        background-color: #F5F5F5;
      			};
				padding: 0.75em 0.5em;
			}
			.dropdown-menu {
				@include x-rem(font-size, 1);
				a {
					padding: 0.5em;
					font-weight: 600;
				}
			}

		}

		
	}
}

