/********* Genéricos **********/

html {
	font-size: 16px;
	margin-top:0;
    padding-top:0;
}

body { 
	//padding-top: 115px;
}

.visible-xxs-block {
	display: none;
}
.visible-xxs-inline-block {
	display: none;
}

a {
  outline: none;
  outline: 0;
   &:focus {
     outline: none;
     outline: 0;
   }
   &:active {
     outline: none;
     outline: 0;
   }
}

.centrado-vertical {
	display: table;
	text-align: center;
	span, .centrar {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}	
	&.derecha {
		text-align: right;
	}
	&.izquierda {
		text-align: left;
	}

}


.container-fluid_max{
	max-width: 980px;
}

.alert-warning {
	background-color: $primario-violeta_oscuro;
	border-color: transparent;
	color: $alt-blanco;
}

/** Page loading **/

#page-loading, #loading-results {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/** Contenedores **/

#app {
	//position: relative;
	min-height: 100%;
	top: 0;
	bottom: 0;
}

#header {
	//position: fixed;
	padding: 0;	
  	right: 0;
  	left: 0;
  	top: 0;
  	border-width: 0 0 1px;
  	//height: 120px;
  	z-index: 9999;
  	background-color: #FFF;
  	margin-bottom: 0;
  	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	
	//iScroll: 		
  	position: absolute;
	width: 100%;
}

#content-wrapper {	
	position:absolute;
	top: 110px;
	padding-top: 5px;
    left:0px;
    right:0px;
    bottom:0px;
    //overflow-y:auto; 

    z-index: 1;
	width: 100%;
	overflow: hidden;
}

.scroller {
	// position: absolute;
	// z-index: 1;
	// -webkit-tap-highlight-color: rgba(0,0,0,0);
	// width: 100%;
	// -webkit-transform: translateZ(0);
	// -moz-transform: translateZ(0);
	// -ms-transform: translateZ(0);
	// -o-transform: translateZ(0);
	// transform: translateZ(0);
	// -webkit-touch-callout: none;
	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// user-select: none;
	// -webkit-text-size-adjust: none;
	// -moz-text-size-adjust: none;
	// -ms-text-size-adjust: none;
	// -o-text-size-adjust: none;
	// text-size-adjust: none;
}


/** Estilo boton (generico, como en home) **/
.boton {
	margin: 0 auto;
	cursor: pointer;	
	.banner-horizontal {
		margin: 0 auto;
		max-height: inherit;
		//box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
		.contenido--banner {
			span {
				cursor: pointer;
                text-align: center; //centrar icono en boton
			}
		}
	}
	&.activo {
		.banner-horizontal {
			box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.25);
		}
	}
}


.banner-horizontal {
	@extend .row;
	margin-bottom: 0;
	.header--banner {
		@extend .col-xs-8, .col-sm-7;
		@include x-rem(padding,0.5);
		height: 100%;
		span {
			@include x-rem(font-size,1.25);
		}
		@extend .centrado-vertical;
		.texto--banner {
			@include x-rem(padding,0.25);
			width: 100%;
			@extend .centrado-vertical;
			h5 {
				margin: 0;
				line-height: 1.25;
				@include x-rem(font-size,1.25);
			}
			span, p {
				text-align: center;
				@include x-rem(font-size,1);
				display: block;
			}
		}
	}
	.contenido--banner, .img--banner {
		@extend .col-xs-4, .col-sm-5;
		height: 100%;
	}
	.img--banner {
		padding: 0;
		background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
		img {
			height: 100%;
			max-width: initial;
			margin: 0 auto;
		}
		
	}
	.contenido--banner {
		@include x-rem(padding,0 0.5);
		@extend .centrado-vertical;
		span {
			@include x-rem(font-size,3);
		}
	}
	
	
	.outter-svg-container {
		display: block;
	}						
}




/************** Template header *****************/
#app-header {

	.menu-top-bg {
		margin-bottom: 0.5em;
	}

	.app-header-top {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-top {
		@include x-rem(font-size, 1);

	}
}	
/**Barra superior azul **/
#nav-top{

	>li{
		
		white-space: nowrap;
		a{
			padding: 0.5em;
			white-space: nowrap;

		}
		i {
			margin-left: 0.5em;
      		margin-right: 0.5em;
		}
		i.fa{
      		margin-left: 0.5em;
      		margin-right: 0.5em;
    	}

		&.redes-sociales {
			text-align: left;
			a{
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
		}
	}

	.dropdown-menu {
		margin-right: 1em;
		@include x-rem(font-size, 1);
		li {
			text-align: right;
			>a {
				display: block;
			}
		}
		
	}
}

/** Logo y menu principal **/
#app-header-menu {

	display: block;
	height: 60px;
	max-height: 60px;
	position: relative;
		
		.row {
			height: 100%;

			&>div:first-child {
				height: 100%;
				padding-left:5px;
				padding-right: 5px;
			}
		}

	.logo-container {
		height: 100%;
		padding-bottom: 5px;
		a {
			display: block;
			height: 100%;
			background: url("../img/logo-grande.png") no-repeat center center;
			background-size: contain;
		}
	}

	.menu-principal {
		@include x-rem(margin-top, 0);
		#main-nav {
			  display: block;
			  display: -webkit-box;
			  display: -moz-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  justify-content: space-between;
			  position: relative;

			  >li{
			    a {
					white-space: nowrap;
				}

			  }

			  //&:active,
			 // html.no-touch &:hover
			 &:hover{
			  //  li:active,
			    //html.no-touch &:hover
			    &:hover{
			      z-index: 100
			  	}
			  }
			  &.activo{
			  //  li:active,
			    //html.no-touch &:hover
			    &:hover{
			      z-index: 50
			  	}
			  }
		}

		ul {
			li {
				a {
					padding-top: 0.75em;
					padding-bottom: 0.75em;
				}
			}
		}
	}

	.dropdown {
		text-align: center;
		border-bottom: 6px solid $alt-gris_claro;
		margin-bottom: -6px;
		#menu-principal-xs {
			display: inline-block;
			@extend %familia-titulos;
			@include x-rem(font-size, 1.2);
			color: $alt-negro;
			font-weight: 500;
			white-space: nowrap;
			

		//	&:active,
			//html.no-touch &:hover
			&:hover{
			  	color: $alt-negro;
		        background-color: #F5F5F5;
  			};
			padding: 0.5em 0.5em;
		}
		.dropdown-menu {
			@include x-rem(font-size, 1.2);
			a {
				padding: 0.5em;
				font-weight: 600;
			}
		}

		.menu-principal-xs-activo {
			display: none;
		}

	}
}
/***** Fin header *****/

/************* Template home *******************/
#app-home {
	//position: absolute;
	//height: 95%; //para que el contenido se estire a lo alto (en combinación con height 25% de home item)
	width: 100%;
}
.home-item {/** Clase usada tambien para los botones de la sección información **/
	//@include x-rem(min-height,5);
	//height: 25%;
	padding-left: 0;
	padding-right: 0;
	@include x-rem(margin, 1 0 0.5);
}
.home-boton {
	@extend .row;
	max-width: 450px;
	.banner-horizontal {
		@include x-rem(height,6);	
		@include boton-punta(6);
		@include boton-activo(gris);
	}
	
}
/***** Fin home *****/

/********** Template laboratorios **********/
#app-labos {
// 	overflow: scroll;
// -webkit-overflow-scrolling: touch;
}
.labos-item {
	@include x-rem(padding, 1);
}
.labos-boton {
	max-width: 460px;
	.banner-horizontal {
		@include x-rem(height,6);
		@include boton-activo(gris_claro);
		@include boton-punta(6);
		.header--banner {
			@extend .col-xs-7, .col-md-6; 
			padding: 0;
		}
		.img--banner {
			@extend .col-xs-5, .col-md-6; 
		}
	}

}
#map {
	position: relative;
	@include x-rem(margin-top, 1);
	@include x-rem(margin-bottom, 1);
	@include x-rem(padding, 0 0.5);
}
#map_canvas {
	width: 90%;
	height: 300px;
	margin: 0 auto;

}


/***** Fin laboratorios ********/

/***** Template laboratorio_detalles *******/
#app-labo-detalles {

	#back {
		position: absolute;
		left: 5px;
		top: 0;
		padding-left: 5px;
		padding-right: 5px;
		@include x-rem(font-size, 4);
		z-index: 1000;
		cursor: pointer;
		
	}
	.contenedor--azul {
		margin-top: -10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
#labo-detalles {
	//margin-top: -10px;
	@include x-rem(padding, 0.5 0.5 0.5 4);

	div {
		text-align: left;
		@extend .texto-invertido;
		@include x-rem(font-size, 0.85);	
		&#labo-link {
			@include x-rem(font-size, 1);
		}
	}
	h5 {
		@include x-rem(font-size, 1.5);	
		@include x-rem(margin-top, 0.25);	
		font-weight: bold;
	}
	h6 {
		@include x-rem(font-size, 1.2);	
		@include x-rem(margin-top, 0.1);	
		font-weight: 500;
	}
	span {
		display: inline-block;
		padding-left: 3px;
		padding-right: 3px;
	}
	p {
		margin: 0;
		@include x-rem(margin-bottom, 0.2);
		font-size: inherit;
	}
	i.fa {
		@extend .texto-celeste;
	 	margin-right: 3px;
	 	margin-left: 3px;
	}
	a {
		@extend .texto-celeste;
		font-weight: 500;
	}
}
#labo-contacto, #labo-horarios, #labo-info, #labo-link {
	@include x-rem(margin-top, 0.5);
}
#labo-img-top {
	img {
		max-height: 350px;
		//box-shadow: 0px 0px 15px rgba(0,0,0,0.9);

	}
}
#labo-img-bottom {
	text-align: center;
	@include x-rem(margin-top, 1);
	@include x-rem(margin-bottom, 1);
	img {
		max-width: 500px;
		width: 100%;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	}
}



/****** Fin laboratorios_detalles **********/



%fix-border-derecha {
	border-right-style: solid;
	border-right-width: thin;
}

/********* Info & Contacto  *********/

.app-info_contacto{

  //@include x-rem(margin-bottom, 1);

  .banner_contacto{
    //max-width: 480px;
    @include x-rem(margin, 1 auto);

	@include header-banner-punta(8,30%);

	.h3 {
		@include x-rem(margin, 1.5 0);
	}	
    /*.contenido--banner{
      width: 73%;
      padding-top: 0;
      padding-bottom: 0;
    }*/

    .contenedor_sede{
      display: inline-block;
      vertical-align: top;
      @include x-rem(padding, 0.5 1);
      //width: 30%;

      p{
        margin: 0;
        padding: 0 0 0.5em 0;
      }
    }
  }
}


/** Certificaciones **/

.app_certificaciones{
  //max-width: 500px;
  @include x-rem(margin, 1.5 auto);

  .h4{
    text-align: center;
    margin: 0;
    @include x-rem(padding, 0.75);
  }

  img.iconos_certificaciones{
    //text-align: center;
    @include x-rem(margin, 0 auto);
    @include x-rem(padding, 1.5);
    display: block;
  }
}




/** Login **/
#app-login {
	.acceso_login {
		@include header-banner-punta(5,60%);	
	}
	.usuarios-guardados{
		@include header-banner-punta(4,60%);
		@include x-rem(padding-bottom,1);
		.list-group {
			@include x-rem(margin,1);
		}
		#error-login-guardado {
			@include x-rem(margin,1);
		}
	}
	.contenedor-con-punta {
		@extend %fix-border-derecha;

		.h3, .h4{
			margin: 0;
			@include x-rem(margin-left,1); 
		}
		@include x-rem(margin-bottom,2);
		.h4 {
			line-height: 1.2;
			white-space: nowrap;
		}

	}

	ul.row {
		margin-left: 0;
		margin-right: 0;
	}

	li.input-login {
		
		@include header-banner-punta(3,100%);
		label {
			display: inline;
			i {
				@include x-rem(width, 2);
			}
			@include x-rem(padding-left, 1.5);

		}
		input {
			@include x-rem(height, 3);
			@include x-rem(padding, 0.5 1.5)
		}
	}

	input[type="password"], input[type="text"]{
  		position:relative;
  		top:-10000px;
  		-webkit-transform: translate3d(0, 10000px, 0);
  		transform: translate3d(0, 10000px, 0);
  		
	}


}



/*********************** Fin app.scss ************************/