html { 
  
}
#content-wrapper {
  top: 135px;
}

//** Header **/

#app-header {
  /** Logo y Menu principal **/
  #app-header-menu {
    height: 85px;
    max-height: 85px;

    .menu-principal {
      @include x-rem(font-size, 1.15);
      #main-nav {
        padding-top: 15px;
      }
      ul {
        li {
          a {
            @include x-rem(font-size, 1.15);
          }
        }
      }
    }
  }
}

//* Labos */
.labos-boton {
  max-width: 380px;
  .banner-horizontal {
    @include x-rem(height,8);
    @include boton-punta-correccion-alto(8);  
  }
}  

//#map_canvas {
//  width: 80%;
//}
//* Labo detalles */
#labo-contacto, #labo-horarios, #labo-info, #labo-link {
  @include x-rem(margin-top, 1);
}


.laboratorios{

  .labo-intro{
    padding-top: 2em;
    padding-left: 2em;
  }

  .labo_foto--interior:first-of-type{
    margin-top: 0;
  }
}



//** Contacto **/
.mapa-contacto{
  .flex-video{
    padding-bottom: 50%;
  }
}

.info-contacto{
  width: 34.9%;

  p{
    @include x-rem(padding, 0.5 1.5);
  }
}


//** Footer **/

.certificaciones--footer{
  //margin: 0;

  .contenedor-con-punta{
    z-index: 250;
    @include x-rem(margin-top, -5);
    @include x-rem(margin-right, -2.7);
  }

}







