#content-wrapper {
  padding-top: 10px;    
}


//* Home */
.home-item {
  @include x-rem(height,7);
  padding-left: 20px;
  padding-right: 20px;
}

//* Labos */
.labos-boton {
  .banner-horizontal {
    @include x-rem(height,8);
    @include boton-punta-correccion-alto(8);  
  }
   
  
}
#map_canvas {
  height: 400px;
}


//** Formularios **/

form{
  label{
    @include x-rem(padding-left, 1.5);
  }
}

//** Lista resultados **/
#app-resultados {
  .header-resultados {
    max-width: 750px;
  }
  .barra-tabla {
    max-width: 750px;
  }
  div.resultados {
    max-width: 750px;
  }
}

.columna-tabla{

  &.text-left-xs {
    text-align: center;
    padding-left: 0;
  }
}


ul.lista_resultados{

  .item--resultado_paciente{
    .info--resultado{
      &.text-left-xs {
        text-align: center;
        padding-left: 0;
        i.fa {
          @include x-rem(padding-left,1);
        }
      }
    }
    @include boton-punta-correccion-costado(4,1.5);
  }
}