html { 
  
}
#content-wrapper {
  top: 137px;
}

//** Header **/

#app-header {
  /** Logo y Menu principal **/
  #app-header-menu {
    height: 85px;
    max-height: 85px;

    .menu-principal {
      @include x-rem(font-size, 1.15);
      #main-nav {
        padding-top: 15px;
      }
      ul {
        li {
          a {
            @include x-rem(font-size, 1.15);
          }
        }
      }
    }
  }
}

.home-item {
	@include x-rem(padding,0 2);
}

.home-boton {
	max-width: 600px;
	.banner-horizontal {
		.header--banner {
			span {
				@include x-rem(font-size,1.5);
			}
		}
	}
	&.destacado {
		.banner-horizontal {
			.header--banner {
				span {
					@include x-rem(font-size,1.8);
				}
			}
		}
	}
	
}

//* Labos */
.labos-boton {
  max-width: 380px;
  .banner-horizontal {
    @include x-rem(height,8);
    @include boton-punta-correccion-alto(8);  
  }
}  

//#map_canvas {
//  width: 80%;
//}

//* Labo detalles */
#labo-contacto, #labo-horarios, #labo-info, #labo-link {
  @include x-rem(margin-top, 1);
}


