//* MENOS DE 360PX DE ANCHO */

.hidden-xxs {
	display: none !important;
}
.visible-xxs-block {
	display: block !important;
}
.visible-xxs-inline-block {
	display: inline-block !important;
}

//*Header */
#app-header-menu {
	.dropdown {
		#menu-principal-xs {
			@include x-rem(font-size, 1);
			padding: 0.75em 0.25em;
		}
		.dropdown-menu {
			@include x-rem(font-size, 1);
		}
	}

}

//* Home */
.home-item {
	@include x-rem(padding, 0.5);
}
.home-boton {
	.banner-horizontal {
		@include x-rem(height,4);
		.header--banner {
			padding: 0;
			span {
				@include x-rem(font-size,1.2);
			}
		}
		.contenido--banner {
			span {
				@include x-rem(font-size,2);
			}
		}
	}
}

//* Labos */
.labos-item {
	@include x-rem(padding, 0.5);
}
.labos-boton {
	.banner-horizontal {
		@include x-rem(height,4);
		.texto--banner {
			h5 {
				line-height: 1.2;
				@include x-rem(font-size,1);
			}
			span, p {
				@include x-rem(font-size,0.85);
			}
		}
	}
}
#map_canvas {
	height: 250px;
}

//* Labo detalles */
#app-labo-detalles {
	#back {
		@include x-rem(font-size, 3);
	}
	div {
		@include x-rem(font-size, 0.8);	
	}
	h5 {
		@include x-rem(margin-top, 0.5);
		@include x-rem(font-size, 1.2);
	}
	h6 {
		@include x-rem(font-size, 1);	
	}
}



