//* MENOS DE 360PX DE ANCHO */

.hidden-xxs {
	display: none !important;
}
.visible-xxs-block {
	display: block !important;
}
.visible-xxs-inline-block {
	display: inline-block !important;
}
.visible-xxs {
	display: block !important;
}

%col-xxs {
	float: left;
}

.col-xxs-1 {
	width: 8.33333%!important;
	@extend %col-xxs;
} 
.col-xxs-2 {
	width: 16.66667%!important;
	@extend %col-xxs;
} 
.col-xxs-3 {
	width:  25%!important;
	@extend %col-xxs;
} 
.col-xxs-5 {
	width: 41.66667%!important;
	@extend %col-xxs;
}
.col-xxs-4 {
	width: 33.33333%!important;
	@extend %col-xxs;
} 
.col-xxs-6 {
	width: 50%!important;
	@extend %col-xxs;
} 

.col-xxs-offset-1 {
	margin-left: 8.33333%!important;
}

//*Header */

#nav-top {
	.menu-profesional {
		div.dropdown  {
			font-size: 14px;
		}
	}
}
#app-header-menu {
	.dropdown {
		#menu-principal-xs {
			@include x-rem(font-size, 1);
			padding: 0.75em 0.25em;
		}
		.dropdown-menu {
			@include x-rem(font-size, 1);
		}
	}
}

//* Home */
.home-item {
	@include x-rem(padding, 0.5);
    margin: 0;
}
.home-boton {
	.banner-horizontal {
		@include x-rem(height,4);
		@include boton-punta-correccion-alto(4);
		.header--banner {
			padding: 0;
			span {
				@include x-rem(font-size,1.2);
			}
		}
		.contenido--banner {
			span {
				@include x-rem(font-size,2);
			}
		}
	}
}

//* Labos */
.labos-item {
	@include x-rem(padding, 0.5);
}
.labos-boton {
	@include boton-punta-correccion-alto(4);
	.banner-horizontal {
		.texto--banner {
			h5 {
				line-height: 1.2;
				@include x-rem(font-size,1);
			}
			span, p {
				@include x-rem(font-size,0.85);
			}
		}
	}
}
#map_canvas {
	height: 250px;
}

//* Labo detalles */
#app-labo-detalles {
	#back {
		@include x-rem(font-size, 3);
	}
	div {
		@include x-rem(font-size, 0.8);	
	}
	h5 {
		@include x-rem(margin-top, 0.5);
		@include x-rem(font-size, 1.2);
	}
	h6 {
		@include x-rem(font-size, 1);	
	}
}



//** Info y Contacto **/
.app-info_contacto{

  //@include x-rem(margin-bottom, 1);

  .banner_contacto{
    //max-width: 480px;
    //@include x-rem(margin, 1 auto);

    .header--banner{
      width: 100%;
      //@include x-rem(margin-right, 1.5);
      //@include x-rem(padding, 1.5 0);
      text-align: center;
    }

    .contenedor_sede{
      display: block;
     //vertical-align: top;
      //@include x-rem(padding, 0.5 1);
      //width: 30%;

    }
  }
}

//** Login **/
#app-login {
	.contenedor-con-punta {
		.h4 {
			white-space: normal;
			@include x-rem(margin-top,-1)
		}	
	}
	li.input-login {
		input {
			width: 70%;
		}
	}
}


//** Resultados **/
#app-resultados {
	.header-resultados {
		.h3 {
			@include x-rem(font-size, $h4);
			font-weight: 500;
		}
	}
}
.barra-tabla {
	>div {
		padding: 0;
	}
}
.columna-tabla {
	line-height: 2;
	a,span {
		white-space: nowrap;
	}
	&.doble-linea {
		line-height: 4;
		
		&.doble-renglon {
			a,span {
				white-space: normal;
				line-height: 2;	
			}
			line-height: 2;
		}
	}
}
ul.lista_resultados{
	.item--resultado_paciente{

		.boton_img {
			@include x-rem(padding-right, 1);
		}
		.info--resultado{
			line-height: 2;
		}
		.doble-linea {
			line-height: 4;
		}
		@include boton-punta(4);
		.contenedor-con-punta {
			.punta--izquierda {
				@include x-rem(border-right-width,1);
				@include x-rem(left,-1.1);
			}
		}

		.boton_img, .boton_pdf, .leido {
			line-height: 4;
			height: 100%;
		}
		.leido {
			i {
				//padding-left: 0;
			}
		}
	}
}