<?xml version='1.0' encoding='utf-8'?>

<widget xmlns=	"http://www.w3.org/ns/widgets"
    xmlns:gap=	"http://phonegap.com/ns/1.0"
    xmlns:android= "http://schemas.android.com/apk/res/android"
    id=			"com.imotionconsulting.iacalaboratorios"
    version=	"1.2.1"
    versionCode="210" >

    <name>IACA Lab</name>
    <description>
        IACA Laboratorios - Consulta de resultados de análisis de pacientes
    </description>
    <author email="info@imotionconsulting.com.ar" href="http://imotionconsulting.com.ar">
        IMotion Consulting
    </author>
    <content src="index.html" />

    <access origin="*" />
    <access origin="https://www.iaca.com.ar" />
    <allow-navigation href="https://www.iaca.com.ar/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android" />
    <preference name="splash-screen-duration" value="4000"/>
    <preference name="permissions" value="none"/>
    <config-file platform="android" parent="/manifest">
        <application android:theme="@android:style/Theme.NoTitleBar">
        </application>
    </config-file>

    <platform name="ios" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#28427e" />

    <platform name="winphone" />

    <icon src="icon.png" />

	<!-- Icons Android -->
	<icon src="res/icon/android/icon-ldpi.png"      platform="android"    qualifier="ldpi" />
    <icon src="res/icon/android/icon-mdpi.png"      platform="android"    qualifier="mdpi" />
    <icon src="res/icon/android/icon-hdpi.png"      platform="android"    qualifier="hdpi" />
    <icon src="res/icon/android/icon-xhdpi.png"     platform="android"    qualifier="xhdpi" />
    <icon src="res/icon/android/icon-xxhdpi.png"    platform="android"    qualifier="xxhdpi" />
    <icon src="res/icon/android/icon-xxxhdpi.png"   platform="android"    qualifier="xxxhdpi" />

    <!-- Icons iOS -->
    <!-- iPhone icon (1x y 2x)  -->
    <icon src="res/icon/ios/icon-60.png"            platform="ios"  width="60" height="60" />
    <icon src="res/icon/ios/icon-120.png"           platform="ios"  width="120" height="120" />
    <!-- iPhone 6 Plus icon (3x) -->
    <icon src="res/icon/ios/icon-180.png"           platform="ios"  width="180" height="180" />
    <!-- iPad icon (1x y 2x) -->
    <icon src="res/icon/ios/icon-76.png"            platform="ios"  width="76" height="76" />
    <icon src="res/icon/ios/icon-152.png"           platform="ios"  width="152" height="152" />
    <!--  iOS Setting icon -->
    <icon src="res/icon/ios/icon-29.png"            platform="ios"  width="29" height="29" />
    <icon src="res/icon/ios/icon-58.png"            platform="ios"  width="58" height="58" />
	<!--  iOS Spotlight icon -->
    <icon src="res/icon/ios/icon-40.png"            platform="ios"  width="40" height="40" />
    <icon src="res/icon/ios/icon-80.png"            platform="ios"  width="80" height="80" />
    <icon src="res/icon/ios/icon-87.png"            platform="ios"  width="87" height="87" />
    <!-- iOS < 7 -->
    <icon src="res/icon/ios/icon-57.png"            platform="ios"  width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            platform="ios"  width="72" height="72" />

    <!-- Icons Windows Phone -->
    <icon src="res/icon/winphone/icon-48.png"       platform="winphone" />
	<icon src="res/icon/winphone/tileicon-110.png"  platform="winphone" role="background" />

    <splash src="splash.png" />

    <!-- Splash screen Android -->
	<splash src="res/screen/android/land-320x200.9.png"    platform="android" qualifier="land-ldpi"/>
	<splash src="res/screen/android/land-480x320.9.png"    platform="android" qualifier="land-mdpi"/>
	<splash src="res/screen/android/land-800x480.9.png"    platform="android" qualifier="land-hdpi"/>
	<splash src="res/screen/android/land-1280x720.9.png"   platform="android" qualifier="land-xhdpi"/>
	<splash src="res/screen/android/land-1920x1080.9.png"  platform="android" qualifier="land-xxhdpi"/>
	<splash src="res/screen/android/port-200x320.9.png"    platform="android" qualifier="port-ldpi"/>
	<splash src="res/screen/android/port-320x480.9.png"    platform="android" qualifier="port-mdpi"/>
	<splash src="res/screen/android/port-480x800.9.png"    platform="android" qualifier="port-hdpi"/>
	<splash src="res/screen/android/port-720x1280.9.png"   platform="android" qualifier="port-xhdpi"/>
	<splash src="res/screen/android/port-1080x1920.9.png"  platform="android" qualifier="port-xxhdpi"/>

    <!-- Splash screen iOS -->
	<splash src="res/screen/ios/iphone-port.png"            platform="ios"     width="320" height="480" />
	<splash src="res/screen/ios/iphone-land.png"            platform="ios"     width="480" height="320" />
    <splash src="res/screen/ios/iphone-port-2x.png"         platform="ios"     width="640" height="960" />
    <splash src="res/screen/ios/iphone-land-2x.png"         platform="ios"     width="960" height="640" />
    <splash src="res/screen/ios/iphone5-port-retina-2x.png" platform="ios"     width="640" height="1136" />
    <splash src="res/screen/ios/iphone5-land-retina-2x.png" platform="ios"     width="1136" height="640" />
    <splash src="res/screen/ios/iphone6-port-2x.png"        platform="ios"     width="750" height="1334" />
    <splash src="res/screen/ios/iphone6-land-2x.png"        platform="ios"     width="1334" height="750" />
    <splash src="res/screen/ios/iphone6p-port-3x.png"       platform="ios"     width="1242" height="2208" />
    <splash src="res/screen/ios/iphone6p-land-3x.png"       platform="ios"     width="2208" height="1248" />
    <splash src="res/screen/ios/ipad-port.png"              platform="ios"     width="768" height="1024" />
    <splash src="res/screen/ios/ipad-land.png"              platform="ios"     width="1024" height="768" />
    <splash src="res/screen/ios/ipad-port-2x.png"           platform="ios"     width="1536" height="2048" />
    <splash src="res/screen/ios/ipad-land-2x.png"           platform="ios"     width="2048" height="1536" />

    <!-- Splash screen Windows Phone -->
    <splash src="res/screen/win-phone/port-480x800.jpg"  platform="winphone" />


	<!-- PLUGINS -->
    <plugin name="cordova-plugin-device" spec="~1.1.5" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <plugin name="cordova-plugin-appavailability" spec="~0.4.2" />
    <plugin name="cordova-plugin-x-toast" spec="~2.6.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-file" spec="~4.3.2" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-file-opener2" spec="~2.0.9" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2" />

</widget>
