<div id="app-labos" class="container-fluid">
	<!-- sin row para que pueda estirarse -->
	<div class="col-sm-6 col-md-4 labos-item">
		<div class="labos-boton boton" data-lab="sanmartin">
			<div class="banner banner-horizontal contenedor--blanco">
				<figure class="img--banner pull-left">
					<img src="img/banner_horizontal--sede_sanmartin.jpg" alt=""/>
				</figure>
				<div class="header--banner contenedor--gris contenedor-con-punta pull-right">
					<div class="texto--banner">
						<div class="centrar">
							<h5 class="texto-negro"><strong>Sede San Martín</strong></h5> 
							<span class="texto-negro texto--normal hidden-xxs visible-xs">
								<i>San Martín 68, Bahía Blanca</i>
							</span>
							<span class="texto-negro texto--normal hidden-xxs hidden-xs">
								<i>San Martín 68</i>
							</span>
							<span class="texto-negro texto--normal visible-xxs-block hidden-xs">
								<i>Bahía Blanca</i>
							</span>
						</div>						
					</div>
					<div class="outter-svg-container punta--left">
						<div class="inner-svg-container">
							<svg class="svg-left punta--gris" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="96.79 0 24.168 262.895"  preserveAspectRatio="none" xml:space="preserve"><polygon points="120.79,262.895 96.79,132.182 120.79,0 141.704,0 141.704,262.895 "/></svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 labos-item">
		<div class="labos-boton boton" data-lab="rodriguez">
			<div class="banner banner-horizontal contenedor--blanco">
				<div class="header--banner contenedor--celeste contenedor-con-punta pull-left">
					<div class="texto--banner">
						<div class="centrar">
							<h5 class="texto-negro"><strong>Sede Rodríguez</strong></h5> 
							<span class="texto-negro texto--normal hidden-xxs visible-xs">
								<i>Rodríguez 702, Bahía Blanca</i>
							</span>
							<span class="texto-negro texto--normal hidden-xxs hidden-xs">
								<i>Rodríguez 702</i>
							</span>
							<span class="texto-negro texto--normal visible-xxs-block hidden-xs">
								<i>Bahía Blanca</i>
							</span>
						</div>						
					</div>
					<div class="outter-svg-container punta--right">
						<div class="inner-svg-container">
							<svg class="svg-right punta--celeste" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="20.802 0 24.112 262.895"  preserveAspectRatio="none" xml:space="preserve"><polygon points="20.914,0 44.914,130.713 20.914,262.895 0,262.895 0,0 "/></svg>
						</div>
					</div>
				</div>
				<figure class="img--banner pull-right">
					<img src="img/banner_horizontal--sede_rodriguez.jpg" alt=""/>
				</figure>
			</div>
		</div> 
	</div>
	<div class="col-sm-6 col-md-4 labos-item">
		<div class="labos-boton boton" data-lab="darwin">
			<div class="banner banner-horizontal contenedor--blanco">
				<div class="contenido--banner izquierda">
					
				</div>
				<div class="header--banner contenedor--violeta contenedor-con-punta pull-right">
					<div class="texto--banner">
						<div class="centrar">
							<h5 class="texto-negro"><strong>Sede Darwin</strong></h5> 
							<span class="texto-negro texto--normal hidden-xxs visible-xs">
								<i>Darwin 530, Bahía Blanca</i>
							</span>
							<span class="texto-negro texto--normal hidden-xxs hidden-xs">
								<i>Darwin 530</i>
							</span>
							<span class="texto-negro texto--normal visible-xxs-block hidden-xs">
								<i>Bahía Blanca</i>
							</span>
						</div>						
					</div> 
					<div class="outter-svg-container punta--left">
						<div class="inner-svg-container">
							<svg class="svg-left punta--violeta" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="96.79 0 24.168 262.895"  preserveAspectRatio="none" xml:space="preserve"><polygon points="120.79,262.895 96.79,132.182 120.79,0 141.704,0 141.704,262.895 "/></svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

	
</div>