<!-- <link rel="stylesheet" href="css/laboratorios.css"> -->
<div id="app-labo-detalles" class="container-fluid">
	<div class="row contenedor--azul">
		<span id="back" class="mega-octicon octicon-chevron-left texto-invertido"></span>
		<div id="labo-detalles" class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5" >
			<div id="labo-titulo">
				<h5>Sede <%= sede %></h5>
				<h6><%= tipo %></h6>
			</div>
			<div id="labo-contacto">
				<span class="labo-direccion">
					<i class="fa fa-map-marker"></i> 
					<%= direccion %>, Bahía Blanca
				</span>
				<span class="labo-telefono">
					<i class="fa fa-phone"></i> 
					<%= telefono %>
				</span>
				<% if (typeof(mail) != "undefined") { %>
				<span class="labo-mail">
					<i class="fa fa-envelope-o"></i>
					<%= mail %>
				</span>	
				<% } %>
			</div>
			<div id="labo-horarios">
				<span><strong>Horarios de atención: </strong></span>
				<span><%= horario_semana %></span>
				<span><%= horario_finde %></span>
			</div>
			<div id="labo-info">
				<p class="info1 hidden-xs"><%= info1 %></p>
				<p class="info2"><%= info2 %></p>
			</div>
			<div id="labo-link">
				<span class="labo-mail">
					<a href='<%= link %>'>Ver sitio web</a>
					<i class="fa fa-external-link"></i>
				</span>
			</div>
		</div>
		<div id="labo-img-top" class="hidden-xs col-sm-6 col-md-5">
			<figure>
				<img src="<%= img_grande %>" alt="" class="loading"/>
			</figure>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="map">
		<div id="map_canvas"></div>
	</div>
	<div class="row visible-xs">
		<div id="labo-img-bottom" class="col-xs-12">
			<figure>
				<img src="<%= img_grande %>" alt="" class="loading"/>
			</figure>
		</div>
	</div>

</div>

