<div id="app-resultados" class="container-fluid container-fluid_max">

	<div class="row header-resultados">
		<span class="h3 texto-azul">Resultados de análisis </span>
		<span class="texto-gris_oscuro"> <%= nombre %></span>
	</div>
	

	<div id="error-get-results" class="mensaje--alerta">
	</div>

	<% if(lista.length>0) { %>
	<!--Header tabla min-xs-->
	<div class="contenedor--azul_oscuro hidden-xxs row barra-tabla">
        <div class="col-xs-3 columna-tabla">
            <span class="texto-invertido">Fecha</span>
        </div>
        <div class="col-xs-3 columna-tabla">
            <span class="texto-invertido">Protocolo</span>
        </div>
        <div class="col-xs-2 columna-tabla">
            <span class="texto-invertido">Leído</span>
        </div>
        <div class="col-xs-2 columna-tabla">
            <span class="texto-invertido">Ver imagen</span>
        </div>
        <div class="col-xs-2 columna-tabla">
            <span class="texto-invertido">Bajar PDF</span>
        </div>
	</div> <!--/Header tabla min-xs-->

	<!--Header tabla xxs-->
	<div class="contenedor--azul_oscuro visible-xxs row barra-tabla">
		<div class="col-xs-5">
			<div class="row columna-tabla">
			    <span class="texto-invertido">Fecha</span>
			</div>
			<div class="row columna-tabla">
			    <span class="texto-invertido">Protocolo</span>
			</div>
		</div>
		<div class="col-xs-1">
			<div class="row columna-tabla doble-linea">
				<span class="texto-invertido">Leído</span>
			</div>
		</div>
        <div class="col-xs-offset-1 col-xs-2">
			<div class="row columna-tabla doble-linea doble-renglon">
			    <span class="texto-invertido">Ver imagen</span>
			</div>
		</div>
		<div class="col-xs-offset-1 col-xs-2">
			<div class="row columna-tabla doble-linea doble-renglon">
			    <span class="texto-invertido">Bajar PDF</span>
			</div>        	
        </div>
	</div> <!--/Header tabla xxs-->

	<!--Div lista resultados-->
	<div class="resultados row">
		<ul id="lista-resultados" class="lista_resultados list-unstyled col-xs-12">

		<% for(var i = 0; i< lista.length; i++) { %>
			<li class="item--resultado_paciente 
			<% if(lista[i].leido) { %>
				leido_si 
			<% } else { %>	
				leido_no
			<% } %>		
			row">
				<div class="col-xs-3 hidden-xxs info--resultado">
					<span class=" fecha texto-negro"><%= lista[i].fecha %></span>
				</div>
				<div class="col-xs-3 hidden-xxs info--resultado">
					<span class="protocolo texto-negro"><%= lista[i].id %></span>
				</div>
				<div class="col-xxs-5 visible-xxs">
					<div class="row info--resultado">
						<span class="fecha texto-negro"><%= lista[i].fecha %></span>
					</div>
					<div class="row info--resultado">
						<span class="protocolo texto-negro"><%= lista[i].id %></span>
					</div>
				</div>
				<div class="col-xs-2 col-xxs-1 info--resultado leido">
					<i class="estado_leido--si fa fa-lg fa-check-circle-o texto-azul"></i>
					<i class="estado_leido--no fa fa-lg fa-envelope texto-gris_oscuro"></i>
				</div>

				<div class="col-xs-2 col-xxs-3 col-xxs-offset-1 info--resultado boton_img contenedor-con-punta">
					<i class="texto-invertido fa fa-lg fa-search fa-flip-horizontal"></i>
					<i class="texto-invertido fa fa-lg fa-file-text"></i>
					<div class="punta--izquierda"></div>
				</div>
				<div data-href="<%= lista[i].pdf %>" class="col-xs-2 info--resultado boton_pdf contenedor-con-punta">
					<i class="texto-invertido fa fa-lg fa-download"></i>
					<i class="texto-invertido fa fa-lg fa-file-pdf-o"></i>
					<div class="punta--izquierda"></div>
				</div>
			</li> <!--/.item--resultado_paciente-->
		<% } %>

		</ul>
	</div>
	
	<% } %>

</div>